<div class="top">
  <button (click)="reset()">Reset</button>
   <p></p>
   <div class="my-container" 
    scrollPagination 
     (scrolled)="scrollHandler($event)"
      resetScroll="resetScroller">
     <div class="content-details" *ngFor="let item of pagedData">
       {{item.id}}
     </div>
   </div>
 
   <div class="another-container" 
      mousescrollPagination
      (mouseWheelUp)="mouseUpHandler($event)"
      (mouseWheelDown)="mouseDownHandler($event)"> 
     <button *ngIf="mouseStart !== 1" (click)="mouseUpHandler($event)">scroll up</button>
     <div class="content-details" *ngFor="let anotheritem of mousedData">
       {{anotheritem.id}}
     </div>
     <button *ngIf="mouseEnd !== myArray.length" (click)="mouseDownHandler($event)">scroll down</button>
   </div>
 
 </div>
